{% extends "base.html" %}
{% block content %}
    <div class="well well-flat">
        <div class="page-header">
            <h1>API docs</h1>
        </div>
	<h3>Credentials</h3>
        <p>To use the API you need your username and an API key. You can find your key on the <a href="{% url 'settings' %}">settings page</a>.<p>
	<h3>Examples</h3>
        <p>Here some basic examples using curl via command line.<p>
	<h4>Retrieving all links</h4>
<pre>$ curl -s "http://bokmarken.com/api/v1/link/?format=json&username=my_user&api_key=nnnn" |json_pp
{
   "objects" : [
      {
         "resource_uri" : "/api/v1/link/13/",
         "url" : "https://twitter.com/pabluk",
         "is_public" : true
      },
      {
         "resource_uri" : "/api/v1/link/12/",
         "url" : "http://seminar.io/2013/09/27/testing-your-rest-client-in-python/",
         "is_public" : true
      },
      {
         "resource_uri" : "/api/v1/link/11/",
         "url" : "http://seminar.io/",
         "is_public" : true
      }
   ],
   "meta" : {
      "previous" : null,
      "next" : null,
      "limit" : 20,
      "total_count" : 3,
      "offset" : 0
   }
}</pre>
	<h4>Retrieving one link</h4>
<pre>$ curl -s "http://bokmarken.com/api/v1/link/12/?format=json&username=my_user&api_key=nnnn" |json_pp
{
   "resource_uri" : "/api/v1/link/12/",
   "url" : "http://seminar.io/2013/09/27/testing-your-rest-client-in-python/",
   "is_public" : true
}</pre>
    </div>
{% endblock %}
