{% extends "base.html" %}
{% block content %}
    <div class="well well-flat">
        <div class="page-header">
            <h1>API docs</h1>
        </div>
	<h3>Credentials</h3>
        <p>To use the API you need your username and an API key. You can find your key on the <a href="{% url 'settings' %}">settings page</a>.<p>
	<h3>Examples using Python</h3>
        <p>Here some basic examples using Python and the <a href="http://www.python-requests.org/en/latest/">requests</a> library.<p>
	<h4>Retrieving all links</h4>
<pre>import requests

API_URL='http://{{ request.META.HTTP_HOST }}{% url 'api_dispatch_list' api_name='v1' resource_name='link' %}'

params = {'username': '{{ user.username|default:"my_username" }}', 'api_key': '{{ user.api_key.key|default:"my_key" }}'}
headers = {'content-type': 'application/json'}
r = requests.get(API_URL, params=params, headers=headers)
print r.json()</pre>

	<h4>Retrieving one link</h4>
<pre>import requests

API_URL='http://{{ request.META.HTTP_HOST }}{% url 'api_dispatch_detail' api_name='v1' resource_name='link' pk=12 %}'

params = {'username': '{{ user.username|default:"my_username" }}', 'api_key': '{{ user.api_key.key|default:"my_key" }}'}
headers = {'content-type': 'application/json'}
r = requests.get(API_URL, params=params, headers=headers)
print r.json()</pre>

	<h4>Create a link</h4>
<pre>import json
import requests

API_URL='http://{{ request.META.HTTP_HOST }}{% url 'api_dispatch_list' api_name='v1' resource_name='link' %}'

params = {'username': '{{ user.username|default:"my_username" }}', 'api_key': '{{ user.api_key.key|default:"my_key" }}'}
payload = {'url': 'http://www.python.org/'}
headers = {'content-type': 'application/json'}
r = requests.post(API_URL, data=json.dumps(payload),
                  params=params, headers=headers)
print r.status_code</pre>

	<h3>Examples using cURL</h3>
        <p>Here some basic examples using curl via command line.<p>
	<h4>Retrieving all links</h4>
<pre>$ curl -s "http://{{ request.META.HTTP_HOST }}{% url 'api_dispatch_list' api_name='v1' resource_name='link' %}?format=json&username={{ user.username|default:"my_username" }}&api_key={{ user.api_key.key|default:"my_key" }}" |json_pp
{
   "objects" : [
      {
         "resource_uri" : "{% url 'api_dispatch_detail' api_name='v1' resource_name='link' pk=13 %}",
         "url" : "https://twitter.com/pabluk",
         "is_public" : true
      },
      {
         "resource_uri" : "{% url 'api_dispatch_detail' api_name='v1' resource_name='link' pk=12 %}",
         "url" : "http://seminar.io/2013/09/27/testing-your-rest-client-in-python/",
         "is_public" : true
      },
      {
         "resource_uri" : "{% url 'api_dispatch_detail' api_name='v1' resource_name='link' pk=11 %}",
         "url" : "http://seminar.io/",
         "is_public" : true
      }
   ],
   "meta" : {
      "previous" : null,
      "next" : null,
      "limit" : 20,
      "total_count" : 3,
      "offset" : 0
   }
}</pre>

	<h4>Retrieving one link</h4>
<pre>$ curl -s "http://{{ request.META.HTTP_HOST }}{% url 'api_dispatch_detail' api_name='v1' resource_name='link' pk=12 %}?format=json&username={{ user.username|default:"my_username" }}&api_key={{ user.api_key.key|default:"my_key" }}" |json_pp
{
   "resource_uri" : "/api/v1/link/12/",
   "url" : "http://seminar.io/2013/09/27/testing-your-rest-client-in-python/",
   "is_public" : true
}</pre>

	<h4>Create a link</h4>
<pre>$ curl --dump-header - -H "Content-Type: application/json" -X POST --data '{"url": "http://www.python.org/", "is_public": true}' "http://{{ request.META.HTTP_HOST }}{% url 'api_dispatch_list' api_name='v1' resource_name='link' %}?username={{ user.username|default:"my_username" }}&api_key={{ user.api_key.key|default:"my_key" }}"
HTTP/1.1 201 CREATED
Date: Sat, 14 Dec 2013 01:02:42 GMT
Server: Apache/2.2
Vary: Accept,Accept-Encoding
Location: http://{{ request.META.HTTP_HOST }}{% url 'api_dispatch_detail' api_name='v1' resource_name='link' pk=57 %}
Content-Length: 0
Content-Type: text/html; charset=utf-8
</pre>
    </div>
{% endblock %}
