body {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #eee;
}

.navbar {
  margin-bottom: 20px;
}

.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.jumbotron {
  color: #666;
  background-color: #f8f8f8;
}

.jumbotron label {
  font-size: 14px;
}

.jumbotron .form-horizontal .control-label {
  padding-top: 0px;
}

.thumbnail {
  padding: 0px;
  border: 0px;
}

.thumbnail a {
  text-decoration: none;
}

.caption-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow:ellipsis;
  font-weight: bold;
  color: #333;
  text-align: center;
}

.caption-center {
  height: 92px;
  padding: 9px 0px;
}

.caption-center h4 {
  padding: 10px;
  color: #fff;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow:ellipsis;
}

.caption-footer {
  overflow: hidden;
  white-space: nowrap;
  text-overflow:ellipsis;
}

.caption-footer p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow:ellipsis;
  margin: 0px;
}

.caption-footer a:hover {
  text-decoration: underline;
}

.caption-footer .profile-para {
  text-align: center;
}


