{% extends "base.html" %}
{% load staticfiles %}
{% load link_extras %}
{% block content %}
      <div class="row marketing">
	  {% for link in links %}
	  <div class="col-sm-6 col-md-4">
	    <div class="thumbnail">
	      <div class="caption caption-title">
		<span class="glyphicon glyphicon-bookmark"></span> <span>{{ link.title|default:link.simple_url  }}</span>
	      </div>
	      <a href="{{ link.url }}" target="_blank">
	      <div class="caption caption-center" style="{% if link.image_url %}background-image: url('{{ link.image_url }}');{% endif %}">
	        {% if not link.image_url %}
		<h4>{{ link.domain }}</h4>
		{% endif %}
	      </div>
	      </a>
	      <div class="caption caption-footer">
		<p>
		  <span class="glyphicon glyphicon-link"></span> <small><a href="{{ link.url }}" target="_blank">{{ link.simple_url }}</a></small>
		  <br/>
		  <span title="{{ link.created_at }}" class="glyphicon glyphicon-time"></span> <small>{{ link.created_at |timesince }}</small>
		</p>
	      </div>
	    </div>
	  </div>
	  {% endfor %}
      </div>
{% endblock %}
{% block js_footer %}
  <script>$('.glyphicon-time').tooltip();</script>
{% endblock %}
