{% extends "base.html" %}
{% load staticfiles %}
{% load link_extras %}
{% block content %}
      <div class="row marketing">
	  <div class="col-sm-6 col-md-4">
	    <div class="thumbnail">
	      <div class="caption caption-title">
		<span>{{ user.username|upper }}</span>
	      </div>
	      <div class="caption caption-center">
	        <img src="{{ user.email | gravatar_url }}" alt="Gravatar" class="img-circle center-block">
	      </div>
	      <div class="caption caption-footer">
		<p class="profile-para">
		<small>
		{{ links|length }} links
		<br/>
		Last update {{ links.0.created_at }}
		</small>
		</p>
	      </div>
	    </div>
	  </div>
	  {% for link in links %}
	  <div class="col-sm-6 col-md-4">
	    <div class="thumbnail">
	      <div class="caption caption-title">
		<span class="glyphicon glyphicon-bookmark"></span> <span>{{ link.title|default:link.simple_url  }}</span>
	      </div>
	      <a href="{{ link.url }}" target="_blank">
	      <div class="caption caption-center" style="background-color: {{ colors|random }}; {% if link.image_url %}background-image: url('{{ link.image_url }}'); background-size: 100% auto; background-position: center; background-repeat: no-repeat;{% endif %}">
	        {% if not link.image_url %}
		<h4>{{ link.domain }}</h4>
		{% endif %}
	      </div>
	      </a>
	      <div class="caption caption-footer">
		<p>
			<span class="glyphicon glyphicon-link"></span> <small><a href="{{ link.url }}" target="_blank">{{ link.simple_url }}</a></small>
			<br/>
			<span class="glyphicon glyphicon-time"></span> <small>{{ link.created_at |timesince }}</small>
		</p>
	      </div>
	    </div>
	  </div>
	  {% endfor %}
      </div>
{% endblock %}
